<%- include('partials/header.ejs') %>

    <main>
        <h1 class="library-title">Library</h1>
        <div class="library-records">
            <% if (locals.library_size===0) { %>
                <h2>Nothing yere yet! Add items in the search page.</h2>
                <% } %>

                    <% for (let item of locals.library_data) { %>
                        <a class="library-record" href="/archive/<%= item.type %>/<%=item.id%>/">
                            <div class="card mb-3" style="max-width: 750px;">
                                <div class="card-header">
                                    <h4>
                                        <%= item.title %>
                                    </h4>
                                </div>
                                <div class="col-md-4">
                                    <img class="library-record-image img-fluid rounded-start"
                                        src="<%= item.cover_image_url%>" alt="Cover art of <%= item.title%>">
                                </div>
                                <% if (item.type==="Book" ) { %>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <p class="card-text">
                                                        <strong>
                                                            Author
                                                        </strong>
                                                        <% if (item.authors.length> 1) { %>"s"<% } %>:
                                                                <%= item.authors.join(", ") %>
                                            </p>
                                                </li>
                                                <li class=" list-group-item">
                                                                    <p class=" card-text">
                                                                        <strong>
                                                                            On reading list?
                                                                        </strong>
                                                                        <%= item.on_reading_list ? " Yes" : "No" %>
                                                                    </p>
                                                </li>
                                                <li class="list-group-item">
                                                    <p class="card-text">
                                                        <strong>
                                                            Have read?
                                                        </strong>
                                                        <%= item.has_read ? "Yes" : "No" %>
                                                    </p>
                                                </li>
                                                <% if (item.has_read) { %>
                                                    <li class="list-group-item">
                                                        <p class="card-text">
                                                            <strong>
                                                                At page
                                                            </strong>
                                                            <%= item.page_at %>
                                                        </p>
                                                    </li>
                                                    <%} %>
                                                        <% if (item.rating !==-1) { %>
                                                            <li class="list-group-item">
                                                                <p class="card-text">
                                                                    <strong>
                                                                        Personal Rating:
                                                                    </strong>
                                                                    <%= item.rating %>
                                                                </p>
                                                            </li>
                                                            <% } %>
                                            </ul>
                                        </div>
                                    </div>

                                    <%} else if (item.type==="Movie_TV" ) { %>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h4>
                                                    (<%=new Date(item.start_year).getFullYear()%>
                                                        <% if (item.end_year) { %>—
                                                            <%=new Date(item.end_year).getFullYear()%>
                                                                <%}%>)
                                                </h4>

                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <p class="card-text">
                                                            <strong>
                                                                Media type:
                                                            </strong>
                                                            <%=item.media_type %>
                                                        </p>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <strong>
                                                            Genres:
                                                        </strong>
                                                        <%=item.genres.join(", ")%>
                                                    </li>
                                                    <li class=" list-group-item">
                                                            <strong>
                                                                On watch list?
                                                            </strong>
                                                            <%= item.on_reading_list ? " Yes" : "No" %>

                                                    </li>
                                                    <li class="list-group-item">
                                                        <strong>
                                                            Have watched?
                                                        </strong>
                                                        <%= item.has_read ? "Yes" : "No" %>
                                                    </li>
                                                    <% if (item.has_read) { %>
                                                        <li class="list-group-item">
                                                            <strong>
                                                                At page
                                                            </strong>
                                                            <%= item.page_at %>
                                                        </li>
                                                        <%} %>
                                                            <% if (item.rating !==-1) { %>
                                                                <li class="list-group-item">
                                                                    <strong>
                                                                        Personal Rating:
                                                                    </strong>
                                                                    <%= item.rating %>
                                                                </li>
                                                                <% } %>
                                                </ul>
                                            </div>
                                        </div>
                                        <% } %>
                            </div>
                        </a>
                        <% } %>
        </div>

    </main>

    <%- include('partials/footer.ejs') %>